<div class="herobanner w-full flex flex-col justify-center items-center min-h-[800px] md:min-h-[800px]" data-aos="fade-up" id="home">
    <div class="herobannerwrapper w-full flex flex-col justify-center items-start h-full md:w-[1400px] md:flex-row gap-4">
        <div class="left w-full h-1/2 flex flex-col justify-center items-center md:w-1/2 md:h-full" data-aos="slide-right">
            <div class="tekst h-1/2 w-full flex flex-col justify-center items-center">
                <p class="welcoming text-white text-[70px] text-center">Hello, my name is</p>
                <h1 class="text-white text-[90px] text-center font-black">Erman Ramichi</h1>
                <div class="links flex justify-center items-center gap-3 m-3">
                    <a href="https://github.com/ermanramichi" class="p-2 rounded-2xl bg-white w-[50px] h-[50px] flex justify-center items-center hover:scale-120">
                        <i class="fa-brands fa-github fa-2x" style="color:green"></i>
                    </a>
                    <a href="https://mk.linkedin.com/in/ermanramichi" class="p-2 rounded-2xl bg-white w-[50px] h-[50px] flex justify-center items-center hover:scale-120">
                        <i class="fa-brands fa-linkedin fa-2x" style="color:green"></i>
                    </a>
                    <a href="https://www.facebook.com/ermanzz" class="p-2 rounded-2xl bg-white w-[50px] h-[50px] flex justify-center items-center hover:scale-120">
                        <i class="fa-brands fa-facebook fa-2x" style="color:green"></i>
                    </a>
                    <a href="https://www.instagram.com/ermanramiqi" class="p-2 rounded-2xl bg-white w-[50px] h-[50px] flex justify-center items-center hover:scale-120">
                        <i class="fa-brands fa-instagram fa-2x" style="color:green"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="right flex flex-col justify-center items-center w-full h-1/2 md:w-1/2 md:h-full gap-10" data-aos="slide-left">
            <div class="quotes flex flex-col justify-center items-center w-[95%] h-full gap-5">
                <h1 class="text-white text-[30px] font-bold">Daily Quote:</h1>
                <div *ngIf="loading" class="loading text-white">Getting new quote...</div>
                <div *ngIf="currentQuote && !loading" class="quote-content">
                <blockquote class="text-white italic text-center text-[22px]">
                        "{{ currentQuote.quote }}"
                </blockquote>
                <div class="text-white italic text-center text-[22px]">— {{ currentQuote.author }}</div>
    </div>
    
            <button 
            (click)="getNewQuote()" 
            [disabled]="loading"
            class="new-quote-btn text-green-800 bg-white p-4 rounded-3xl font-bold hover:bg-green-900/50 transition-colors duration-500 hover:text-white hover:border-white hover:border-2">
            {{ loading ? 'Loading...' : 'New Quote' }}
            </button>

            </div>
    </div>
    </div>
</div>
