ul li:nth-child(5) {
     border-bottom: none;
 }
 .active{
    background-color:white;
    
 }
 .notActiveBottom{
    
    border-top-right-radius: 20px;
 }
 .notActiveTop{
    border-bottom-right-radius: 20px;
 }
