<div class="experience flex flex-col justify-center items-center w-full h-fit mt-5 md:w-[1000px]" data-aos="fade-up" id="experience">
    <div class="experiencewrapper flex justify-start items-center h-fit w-full md:w-full bg-black/20 p-4  md:p-6 gap-10 rounded-3xl flex-col">
        <div class="buttons flex justify-center items-center md:w-fit pr-4 pl-4 rounded-3xl bg-black/60">
            <button class="p-4 text-white rounded-3xl m-2 cursor-pointer text-[14px] " [class.active]="activeDiv==='technologies'" (click)="showDiv('technologies')">Technologies</button>
            <button class="p-4 text-white rounded-3xl m-2 cursor-pointer text-[14px] " [class.active]="activeDiv==='projects'" (click)="showDiv('projects')">Projects</button>
            <button class="p-4 text-white rounded-3xl m-2 cursor-pointer text-[14px]" [class.active]="activeDiv==='jobexperience'" (click)="showDiv('jobexperience')">Job Experience</button>
        </div>
        <div *ngIf="activeDiv==='technologies'" class="flex flex-col justify-start items-center w-full md:w-[80%] bg-black/40 rounded-3xl h-fit" data-aos="fade-left">
            
            <div class="technology flex justify-center items-center md:p-6 p-4 w-full gap-3">
                <i class="fa-brands fa-html5 fa-6x p-4 w-1/4" style="color:white"></i>
                <p class="description text-white p-4">Building structured and semantic web pages that support accessibility and multimedia elements.</p>
            </div>
            <div class="technology flex justify-center items-center md:p-6 p-4 w-full gap-3">
                <i class="fa-brands fa-css fa-5x p-4 w-1/4" style="color:white"></i>
                <p class="description text-white p-4 ">Designing responsive and visually engaging interfaces with styling tools and frameworks like TailwindCSS.</p>
            </div>
            <div class="technology flex justify-center items-center md:p-6 p-4 w-full gap-3">
                <i class="fa-brands fa-js fa-5x p-4 w-1/4" style="color:white"></i>
                <p class="description text-white p-4 ">Adding interactivity and dynamic functionality through DOM manipulation and logical programming.</p>
            </div>
            <div class="technology flex justify-center items-center md:p-6 p-4 w-full gap-3">
                <i class="fa-brands fa-angular fa-5x p-4 w-1/4" style="color:white"></i>
                <p class="description text-white p-4 ">Developing scalable front-end applications with efficient data binding and backend integration.</p>
            </div>
            <div class="technology flex justify-center items-center md:p-6 p-4 w-full gap-3">
                <i class="fa-brands fa-java fa-5x p-4 w-1/4" style="color:white"></i>
                <p class="description text-white p-4 ">Implementing OOP concepts and CRUD operations to create robust and maintainable backend solutions.</p>
            </div>
            <div class="technology flex justify-center items-center md:p-6 p-4 w-full gap-3">
                <i class="fa-brands fa-git fa-5x p-4 w-1/4" style="color:white"></i>
                <p class="description text-white p-4 ">Managing version control, tracking project history, and enabling smooth collaboration.</p>
            </div>
            

        </div>
        
        <div *ngIf="activeDiv==='projects'" class="flex flex-col justify-center items-center w-full md:w-[80%] bg-black/40 rounded-3xl h-full" data-aos="fade-left">
            <div class="project flex flex-col justify-center items-center p-4">
            <div class="title p-4 text-white font-black text-[30px]">Automatik</div>
            <div class="shortdesc p-4 text-white font-light text-[18px] text-justify">A platform designed to help users find the best products at the best prices by comparing offers from multiple sources in real time. It simplifies the decision-making process with advanced search, filtering, and price-tracking features, ensuring users get the most value for their money. The goal is to make product discovery effortless while maximizing savings.</div>
        </div>
        <div class="project flex flex-col justify-center items-center p-4">
            <div class="title p-4 text-white font-black text-[30px]">Pagomatik</div>
            <div class="shortdesc p-4 text-white font-light text-[18px] text-justify">A POS (Point-of-Sale) application designed with an enhanced UI/UX for fast, intuitive operation in restaurants and retail environments. It offers advanced functionalities such as generating daily and monthly reports per table, per user, and overall, enabling better performance tracking and data-driven decision-making.</div>
        </div>
        </div>
        <div *ngIf="activeDiv==='jobexperience'" class="flex flex-col justify-center items-center w-full md:w-[80%] bg-black/40 rounded-3xl h-full" data-aos="fade-left">
            <div class="job-experience flex flex-col justify-center items-center p-4">
                <div class="title p-4 text-white font-black text-[30px]">Retail Salesman</div>
                <div class="shortdesc p-4 text-white font-light text-[18px] text-justify">Worked as a retail salesman, developing strong communication and customer service skills while understanding client needs and providing tailored product recommendations. This role was important in building problem-solving abilities, learning to work under pressure, and understanding sales strategies that drive customer satisfaction and business growth.</div>
                <div class="company p-4 text-white font-semibold italic text-[20px] text-center">Neptun MK (July 2022-October 2024)</div>
            </div>
            <div class="job-experience flex flex-col justify-center items-center p-4">
                <div class="title p-4 text-white font-black text-[30px]">Web Administrator</div>
                <div class="shortdesc p-4 text-white font-light text-[18px] text-justify">Promoted from Retail Salesman to Web Administrator, responsible for managing and optimizing the company’s online presence. Enhanced product visibility by creating engaging and interactive landing pages, ensuring content was accurate, visually appealing, and aligned with marketing goals. Leveraged web analytics to track performance, improve user experience, and drive higher traffic and conversions.</div>
                <div class="company p-4 text-white font-semibold italic text-[20px] text-center">Neptun MK (November 2024-Ongoing)</div>
            </div>
        </div>
    </div>
</div>