.range-thumb::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: white;
  border: 2px solid #2563eb;
  border-radius: 9999px;
  cursor: pointer;
}

.range-thumb::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: white;
  border: 2px solid #2563eb;
  border-radius: 9999px;
  cursor: pointer;
}
.range-thumb::-webkit-slider-thumb {
  pointer-events: auto;
}
.range-thumb::-moz-range-thumb {
  pointer-events: auto;
}