.active{
  /*box-shadow: 8px 8px 20px #bebebe,
              -8px -8px 20px #ffffff; */
  font-weight: 800;
  color:#ff4747;
  border-bottom: 4px solid #ff4747;

}
.aktive{
  display: flex!important;
  opacity:100%!important;
}
.unactive{
  display:none!important;
}
.searchActive{
  /*box-shadow: 8px 8px 20px #bebebe,
              -8px -8px 20px #ffffff; */
  width: full!important;
}
@media (max-width: 768px) {
  .secondrowMobile.mobile-pushed {
    transform: translateX(-8px);
  }
  
  .mobileTrigger.rotate-90 {
    transform: rotate(90deg);
  }
}
