@import "tailwindcss";/* You can add global styles to this file, and also import other style files */
@import 'aos/dist/aos.css';

@theme{
--color-bluematik-50: #eff5ff;
--color-bluematik-100: #dce8fd;
--color-bluematik-200: #c1d7fc;
--color-bluematik-300: #96befa;
--color-bluematik-400: #649bf6;
--color-bluematik-500: #4077f1;
--color-bluematik-600: #2a58e6;
--color-bluematik-700: #1f3fc3;
--color-bluematik-800: #2239ab;
--color-bluematik-900: #213487;
--color-bluematik-950: #192252;
--color-bluematik:#1f3fc3;

}
body{
  background-color:white;
}
*{
  font-family: 'Roboto', sans-serif;


  box-sizing:border-box;
}


*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

::-webkit-scrollbar-thumb {
  background: #1f3fc3; /* Blue scrollbar thumb */
  border-radius: 4px;
  transition: background 0.2s ease;
}
